body{ 

    background: #a8c0ff;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #3f2b96, #a8c0ff);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #3f2b96, #a8c0ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


body.login{ 

    background: #a8c0ff;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #3f2b96, #a8c0ff);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #3f2b96, #a8c0ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

body.register{ 

    background: #a8c0ff;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #3f2b96, #a8c0ff);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #3f2b96, #a8c0ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}



div.registercon{
    padding: 20px;
    border-radius: 12px;
    justify-content: center;
    text-align: center;
    margin-top: 5%;
    margin-left: 32%;
    display: block;
    width: 500px;
    height: 500px;
    background-color: #ffffff;
    box-shadow: 5px 5px 20px; 
    text-align: center;
    margin-left: 25%;
}

input.registercon{


    text-align: center;
    margin-bottom: 10px;
    margin-left: 28%; 
    justify-content: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif    ;
    width: 200px;
    font-size: 17px;
    display: block;
    margin-top: 10px;
    border-radius: 5px;
}





span{
margin-top:20px;

}

div.principal{
margin-top: 5%;
width: 25%;
margin-right: 12%;
margin-left: 15%;
background: #ECE9E6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

text-align:left;
padding-left: 100px  ;
text-size-adjust: 20px;
border-radius: 12px;
box-shadow: 5px 5px 10px;    
display:flex;
}

img.pr{
   margin-left: 60%;
   display: flex;
    height: 500px;
    width: 600px;
    border-radius: 12px;
    box-shadow: 5px 5px 10px;    

}

h1.text1{
    box-shadow: 5px 5px 10px;   
    font-size: 45px;
    margin-top: 24px;
    text-decoration: dashed;
    background-color: #a8c0ff;
    border-radius: 10px;
}

h2.text2{
    
    font-size: 24px;
    margin-top: 24px;
    text-decoration: dashed;

}

a.link3{
    
    justify-content: center;
    text-align: center;
    font-size: 24px;
    margin-top: 30px;
    background: #4e54c8;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8f94fb, #4e54c8);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8f94fb, #4e54c8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 12px;
margin-top: 22%;    
font-size: 18px;
text-decoration:wavy;
color: white;
padding-left: 12px;
padding-right: 12px;
}


div.login{
    margin-top: 50px;
    width: 500px;
    height: 500px;
    display: block;
    margin-left: 30%;
    align-items: center;
    background: #ffffff;  /* fallback for old browsers */
  
    border-radius: 12px;
    font-family: sans-serif;
    padding-top: 20px;
    box-shadow: 5px 5px 20px; 
    text-align: center;

}

input.login{

    text-align: center;
    margin-left: 32%;
    border-radius: 10px;
    display: block;
    border:#3d3d3d;
    background-color:rgb(255, 255, 255);
    box-sizing: 200px 200px;
    width: 170px;
    height: 30px;
    margin-top: 10px;
    box-shadow: 5px 5px 20px; 
}

input.register{


    display: block;
    text-align: center;
    margin-left: 32%;
    border-radius: 10px;
    display: block;
    border:#3d3d3d;
    background-color:rgb(255, 255, 255);
    box-sizing: 200px 200px;
    width: 200px;
    height: 30px;
    margin-top: 10px;
    box-shadow: 5px 5px 20px; 
    margin-bottom: 20px;
}

input.sumbit{
    display: block;
    margin-left: 38%;
    margin-top: 20px;
    width: 120px;
    height: 30px;
    margin-bottom: 20px;
    border-radius: 10px;
    color: #000000;
    
}

h1.login{
    margin-left: 19%;
    box-shadow: 5px 5px 10px;       
    margin-top: 24px;
    width: 300px;
    height: 50px;
    background-color: #a8c0ff;
    border-radius: 10px;
}

h5.text4{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: 5px 5px 10px;   
    font-size: 45px;
    margin-top: 24px;
    text-decoration: dashed;
    background-color: #a8c0ff;
    border-radius: 10px;
}

p{
    padding-top: 2px;
    font-size: large;
}

div.aboutus{

    margin-top: 50px;
    width: 800px;
    height: 800px;
    display: block;
    margin-left: 27%;
    align-items: center;
    background: #ffffff;  /* fallback for old browsers */
  
    border-radius: 12px;
    font-family: sans-serif;
    padding-top: 20px;
    box-shadow: 5px 5px 20px; 
    text-align: center;
}

h4.textau{
    border-radius: 12px;
    margin: 40px;
    padding: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-decoration: none;
background-color: #c8a8ff;

}

a.au{
   
    color: whitesmoke;
     
    text-decoration: none;
}

a.aug{
   
    color: rgb(234, 0, 255);
     
    text-decoration: none;
}

img.profedar{
 border-radius: 100px;
 width: 80px;
margin: 60px;

}

h4.imgdar{
padding: 0px;
    margin:0px;
display: flex;
    height: 100px;  
display: block;


}

div.cont{
    justify-content: center;
    display: flex;
}

a.gob{

    text-decoration: none;
    color: rgb(191, 94, 94);

}